/* src/pages/Contact.css */

.contact {
    margin-left: 220px; /* Espaço para a sidebar */
    padding: 20px;
    background-color: #1a1a1a; /* Cinza escuro quase preto */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.contact h1 {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    margin-bottom: 40px;
    font-size: 3rem;
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px; /* Ajuste a largura máxima conforme necessário */
    justify-content: center;
}

.credits-title {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    margin: 60px 0 40px;
    font-size: 2rem;
}

.attributions {
    font-size: 0.8rem;
    color: #00ffff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.attributions p {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.attributions img.icon-thumbnail {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.attributions a {
    color: #00ffff;
    text-decoration: none;
}

.attributions a:hover {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

/* Responsividade */

@media (max-width: 1024px) {
    .contact {
        margin-left: 0;
        padding: 10px;
    }

    .contact h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .credits-title {
        font-size: 1.8rem;
        margin: 40px 0 30px;
    }
}

@media (max-width: 768px) {
    .contact h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .credits-title {
        font-size: 1.6rem;
        margin: 30px 0 20px;
    }

    .attributions {
        grid-template-columns: auto;
        font-size: 0.7rem;
    }

    .attributions p {
        margin: 5px 10px;
    }
}

@media (max-width: 480px) {
    .contact h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .credits-title {
        font-size: 1.4rem;
        margin: 20px 0 15px;
    }

    .contact-cards {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}
