/* src/components/Sidebar.css */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    color: #ff00ff;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #ff00ff;
}
