/* src/components/Vinheta.css */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-background {
    width: 100%;
    height: 100vh;      
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.animated-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #ff00ff, #00ffff, #ff00ff);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
    z-index: 1;
}

.animated-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.welcome-text {
    position: relative;
    z-index: 4;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    margin-bottom: 20px;
    opacity: 0; /* Initial state for loading animation */
    transform: translateY(-20px); /* Initial state for loading animation */
    transition: opacity 1s ease-out, transform 1s ease-out 0.5s; /* Transition for loading effect */
}

.animated-background.loaded .welcome-text {
    opacity: 1; /* Final state for loading animation */
    transform: translateY(0); /* Final state for loading animation */
}

.center-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    gap: 20px; /* Add space between elements */
    opacity: 0; /* Initial state for loading animation */
    transform: translateY(20px); /* Initial state for loading animation */
    transition: opacity 1s ease-out, transform 1s ease-out 0.7s; /* Transition for loading effect */
}

.animated-background.loaded .center-column {
    opacity: 1; /* Final state for loading animation */
    transform: translateY(0); /* Final state for loading animation */
}

.content-circle {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.content-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(360deg);
}

.button-portfolio {
    margin-top: 20px; /* Space above the footer */
    z-index: 3;
    opacity: 0; /* Initial state for loading animation */
    transform: translateY(20px); /* Initial state for loading animation */
    transition: opacity 1s ease-out, transform 1s ease-out 0.9s; /* Transition for loading effect */
}

.animated-background.loaded .button-portfolio {
    opacity: 1; /* Final state for loading animation */
    transform: translateY(0); /* Final state for loading animation */
}

.circle-text {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
}

.circle-text path {
    fill: none;
}

text {
    font-size: 18px;
    fill: white;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle-text {
    animation: rotate 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
    opacity: 0.6;
}

.portfolio-button {
    position: relative;
    z-index: 4;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.portfolio-button:hover {
    background: linear-gradient(45deg, #00ffff, #ff00ff);
    transform: scale(1.1);
}

/* Responsive design */

@media (max-width: 1200px) {
    .welcome-text {
        font-size: 32px;
    }

    .content-circle {
        width: 250px;
        height: 250px;
    }

    .circle-text {
        width: 350px;
        height: 350px;
    }

    .portfolio-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .welcome-text {
        font-size: 28px;
    }

    .content-circle {
        width: 200px;
        height: 200px;
    }

    .circle-text {
        width: 300px;
        height: 300px;
    }

    .portfolio-button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .welcome-text {
        font-size: 24px;
    }

    .content-circle {
        width: 200px;
        height: 200px;
    }

    .circle-text {
        width: 300px;
        height: 300px;
    }


    .portfolio-button {
        font-size: 12px;
        padding: 4px 8px;
    }
}
